:root {
    --gray-color: #DFDFDF;
    --dark-gray-color: #878990;
    --rose-color: #FFCCFA;
    --blue-color: #9CD1E1;
    --bg-pcapilares-color: #FFDED5;
    --bg-tinturas-color: #E0F4E8;
    --bg-makeup-color: #DDF7F6;
    --bg-men-color: #D0E1F5;
    --bg-cpersonal-color: #FFD6E6;
    --bg-skin-color: #F6DCCB;
    --bg-sales-color: #FDC0DF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    position: relative;    
}

.header h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: black;
    font-size: 2rem;
    font-weight: bold;
}

.header a{
      position: absolute;
      top: 20%;
      left: 9%;
      transform: translate(-50%, -50%);
      z-index: 1;
      color: black;
      font-size: 1rem;
      text-decoration: none;
      background-color: transparent;
}
  
.header img{
    width: 100%;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    border: 1px solid black;
    background-color: white;
    padding: 6px 6px;
    background-color: var(--bg-makeup-color);
}

.nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 21px;
}

.navList li, a {
    list-style: none;
    color: black;
    text-decoration: none;
    background-color: var(--rose-color);
    border-radius: 10px;
}

.men {
    background-color: var(--bg-men-color);
    border-radius: 10px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: white;
    padding-bottom: 15px;
    padding-top: 15px;
    background-color: var(--bg-makeup-color);
    
}

.infoProducts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 80px;
}

.infoProducts p, h3, button {
    justify-content: center;
}

.footer div {
    display: flex;
    flex-wrap: wrap;
}

.footer a {
    color: black;
    background-color: transparent;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    background-color: var(--gray-color);
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 2px solid black;
}

.footerContact {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
}

.contactImages {
    gap: 10px;
}

.footerLinks {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-top: 10px;
    gap: 10px;
}

.footerPay {
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 10px;
    gap: 10px;
    align-items: center;

}

.payImages {
    gap: 5px;
}